*{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	flex-flow: row wrap;
	border: 1px solid rgba(216,216,228,1);
	height: 80px;
	align-items: center;
}
header > div:nth-child(2) {
	margin-left: 45%;
}
header > div:nth-child(1) {
	margin-left: 7%;
}
.header-link-div{
	border-left: 1px solid rgba(216,216,228,1);
	padding: 1.8em;
}
.logo-link{
	color: #FF00BF;
}
.logo-link:hover{
	color: black;
}
.nav-links:hover{
	color: #1242AF;
}
.nav-links{
	text-decoration: none;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: 700;
	color: rgba(41,41,54,1);
}
.three-line{
	display: none;
	margin-left: 65%;

}
@media (max-width: 650px){
	header div.header-link-div{
		display: none;}
	header div.three-line{
			display: inline;}
}

/* 

	
div.pop-up{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #FFF3B8;
	padding: 1.7em;
	color: var(--core-ui-theme-text-primary,rgba(41,41,54,1));
	}
.pop-up p{
	font-family: "ProximaNova", sans-serif;
	font-weight: 700;
	display: inline-block;
}
.pop-up p::before{
	content: url(my.svg);
	}

.box-1 li{
	float: left;
	list-style-type: none;
	border-left: 1px solid 
}
.box-1 a.links-box-1{
	display: block;
	padding: 1.6em 1.5em;
	text-decoration: none;
	}
.box-1 a:hover{
	color: blue;
}
.box-2{
	overflow: hidden;	
	width: 100%;
	height: 30em;
	
}  */